body {
    font-family: 'Arial', sans-serif;
    background-color: #121212; /* Dark background for the body */
    color: #e0e0e0; /* Light grey text for readability */
    margin: 0;
    padding: 0;
}

header {
    background-color: #1f1f1f; /* Slightly lighter dark shade for the header */
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #9fa8da; /* Soft blue for links */
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease; /* Smooth transition for color change */
}

nav ul li a:hover, nav ul li a:focus {
    color: #d1c4e9; /* Lighter purple shade on hover */
}

footer {
    background-color: #1f1f1f;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    bottom: 0;
}

main {
    padding: 20px;
    min-height: calc(100vh - 160px); /* Adjusting height to ensure footer sticks at bottom */
}

button {
    background-color: #616161; /* Dark grey button */
    color: palevioletred;
    font-size: larger;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 80px;
}

button:hover {
    background-color: #757575; /* Lighter grey on hover */
}

.container {
    text-align: center;
}

h1.title {
    font-size: 36px;
    margin-bottom: 30px;
}

.block1, .block2, .block3 {
    display: inline-flex;
    width: 50%;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    justify-content: center;
    position: relative;
}

main {
    text-align: center;
}

.block1 {
    color: green;
    border: solid green;
}

.block2 {
    color: orangered;
    border: solid orangered;
}

.block3 {
    color: red;
    border: solid red;
}

.map {
    height: 85%;
    width: 85%;
    margin-bottom: 80px;
    filter: contrast(65%);
    filter: brightness(95%);
}

#covid-stats {
    margin-top: 20px;
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
}

#covid-stats h2 {
    color: #9fa8da; /* Soft blue for headings */
    font-size: 28px;
    margin-bottom: 15px;
}

#covid-stats p {
    color: #e0e0e0; /* Light grey for text */
    margin: 5px 0;
    font-size: 18px;
}

#covid-stats p span {
    font-weight: bold;
    color: #bb86fc; /* Accent color for values */
}

.stats {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0 10px; /* Adjust padding as needed */
}